@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

footer {
    background: linear-gradient(135deg,
            rgba(15, 50, 105, 1) 0%,
            rgba(10, 65, 133, 1) 25%,
            rgba(23, 28, 64, 1) 50%,
            rgba(23, 29, 66, 1) 75%,
            rgba(23, 28, 63, 1) 100%);
    ;
}



@media(min-width: 960px) {
    .main-footer {
        display: flex;
        max-width: 1600px;
        margin: 0 auto;
        justify-content: center;
        flex-direction: row;
        gap: 4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #footer_movil {
        display: none !important;
    }


}

.footer_sub_item_imgcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.footer_sub_item_imgcont img {
    width: 100%;
}


.footer_sub {}

.footer_sub_item {
    margin-bottom: 0.5rem;
}

.footer_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.footer_sub_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.footer_item_dato {
    color: #DCE2EE;
    font-size: 12px;
}

.footer_sub_imgs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.link_zone {
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    color: #DCE2EE;
}

.link_zone_items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.link_zone_item {}

.link_zone_item a {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    color: #DCE2EE;
}



/* media querys de footer  */

@media(max-width: 960px) {
    .main-footer {
        display: flex;
        max-width: 360px;
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 3rem;
        align-items: flex-start;
    }

    #footer_web {
        display: none !important;
    }
}