@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.program_portada {
    height: 250px;
    background-image: url('../images/program-index/Background_programas.webp');
    background-size: 100% auto;
    /* Ajusta el ancho al 100% y mantiene la proporción */
    background-position: center top;
    /* Centrado en la parte superior */
    background-repeat: no-repeat;
    /* No repetir la imagen */
}

.program_portada_txt {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    line-height: 66px;
    text-align: center;
}



/* lista de cards */

.card_program {
    width: 344px;
    height: 446px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .card_program_imgcont {
    max-width: 344px;
    height: 190px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.card_program_imgcont img {
    border-radius: 14px 14px 0 0;
} */

.card_program_imgcont img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* .card_program_txtcont {
    width: 332px;
    height: 250px;
    border-radius: 40px;
    transform: translateY(-25px);
    background: #FAFAFA;
    padding: 1rem;
} */

.card_program_datos {
    display: flex;
    justify-content: space-around;
}

.card_program_datos_item {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    color: #17254E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.card_program_txt_title {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    color: #253B63;
    height: 55px;
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card_program_txt_desc {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    color: #4D4D4D;
    height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* .card_program_btn_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
} */

/* 
.card_program_btn {
    background: #0E2A46;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    border: none;
    max-width: 380px;
    width: 100%;
}
 */

/* search programs */
/* .search_programs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    padding: 4rem 0;
} */






/* .programs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    justify-items: center;
} */

.program-item {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: center;
    background-color: #f9f9f9;
}

.program-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.pagination a.current.disabled {
    pointer-events: none;
    color: #ccc;
    /* Cambiar el color para hacerlo parecer deshabilitado */
    text-decoration: none;
}




.allprograms_cards_container {}

.subcontainer_allcards {}

.btn_search {
    border-radius: 6px;
    background: #CF9B24;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border: none;
    height: 56px;
    padding: 0 1.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.input_search {

    height: 56px;
    width: 300px;
    padding: 16px 18px;
    border-radius: 5px;
    border: none;
}


.subcontainer_allcards .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subcontainer_allcards .pagination a {
    padding: 0.5rem 1rem;
    background: #f4f4f4;
    border: 1px solid #ECECEC;
    text-decoration: none;
    color: #0E2A46;
}




@media(min-width: 1024px) {

    .main_program_portada {

        padding-top: 8rem;
    }

    .search_programs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
    }

    .programs-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        justify-items: center;
    }

    .card_program_movil_dates {
        display: none;
    }

    .card_program_txtcont {
        width: 332px;
        height: 250px;
        border-radius: 40px;
        transform: translateY(-25px);
        background: #FAFAFA;
        padding: 1rem;
    }


    .card_program_btn {
        background: #0E2A46;
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        padding: 10px 25px 10px 25px;
        border-radius: 5px;
        border: none;
        max-width: 380px;
        width: 100%;
    }

    .card_program_btn_cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0;
    }

    .card_program_imgcont {
        max-width: 344px;
        height: 190px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }

    .card_program_imgcont img {
        border-radius: 14px 14px 0 0;
    }


    .allprograms_cards {
        padding: 3rem 0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        max-width: 1300px;
        margin: 0 auto;
    }



}



@media(max-width: 1024px) {
    .card_program_datos {
        display: none;
    }

    .card_program_txt_desc {
        display: none;
    }

    .card_program_movil_dates {
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
    }

    .card_program_movil_dates_item {
        background: #EAF4FF;
        padding: 0.3rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .main_program_portada {
        padding-top: 5rem;
    }

    .search_programs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 2rem 0;
    }

    .programs-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        justify-items: center;
    }

    .card_program_txtcont {
        width: 100%;
        height: 230px;
        background: white;
        padding: 0rem 1rem;
    }


    .card_program_btn {
        background: #fffaef;
        border: 1px dashed #CF9B24;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        width: 100%;
    }


    .card_program_btn_cont {
        padding: 1rem;
        width: 100%;
    }

    .card_program_imgcont {
        max-width: 344px;
        height: 190px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
        padding: 1rem 1rem 0rem 1rem;
        background: white;
    }

    .card_program_imgcont img {
        border-radius: 14px;
    }

    .allprograms_cards {
        padding: 3rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 1300px;
        margin: 0 auto;
    }


}



















































.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.pagination a {
    padding: 8px 12px;
    text-decoration: none;
    color: #0073aa;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.pagination a:hover {
    background-color: #f1f1f1;
}

.pagination a.current.disabled {
    pointer-events: none;
    background-color: #0073aa;
    color: white;
    border-color: #0073aa;
}

.pagination .dots {
    padding: 8px 12px;
    color: #555;
}



@media(min-width: 1024px) {
    .program_portada_movil {
        display: none;
    }

}

@media(max-width: 1024px) {
    .program_portada {
        display: none;
    }

    .program_portada_movil {
        height: 100px;
        background: #ECECEC;
        width: 100%;
    }

    .program_portada_movil_title {
        height: 100px;
        background: #ECECEC;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;

    }
}











































/* acccordion
 */

.main_class_accordion {
    border: 1px solid #E8E8E8;
    width: 100%;
    background-color: #ffffff;
    margin: 2rem 0;
}

.accordion {
    width: 100%;
    background-color: #ffffff;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s linear;
    display: flex;
    text-decoration: none;

}

.accordion:after {
    font-size: 18px;
    float: right;
    text-decoration: none;
}

.accordion.is-open:after {}

.accordion:hover,
.accordion.is-open {
    background-color: #ffffff;
    text-decoration: none;
}

.accordioncontenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
}

.accordion-content {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    width: 100%;
}


















































/* Ocultar el checkbox original */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #E09B00;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/* Estilo cuando está marcado */
input[type="checkbox"]:checked {
    background-color: #E09B00;
    border-color: #E09B00;
}

/* Agregar un check personalizado */
input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    /* Color del check */
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.item_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}