@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

@media(max-width: 1024px) {

    .first_zone_container,
    .contact_zone {
        display: none;
    }
}

.first_zone_container {
    background: #FFF3E4;
}

.first_zone {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-top: 6rem;
    margin: 0 auto;
    max-width: 1800px;
}

.first_zone_txts {}

.first_zone_subtitle {
    color: #CF9B24;
    font-family: Poppins;
    font-size: 27px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
}

.first_zone_title {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    text-align: left;
    color: #0E2A46;
    padding: 6rem 0px;
}

.first_zone_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.first_zone_card {
    width: 330px;
    height: 111px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0 2rem;
}

.first_zone_card_item {}

.first_zone_card_item_txt_title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 43.2px;
    letter-spacing: 0.02em;
    color: #595959;
}

.first_zone_card_item_txt_subtitle {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #545567;
}

.first_zonebtn {}

.first_zone_img {}


.first_zonebtn_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 326px;
    height: 78px;
    border-radius: 200px;
    background: #17254E;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    margin: 6rem 0;
}

.first_zone_img img {
    width: 100%;
}


@media(max-width: 1024px) {}

@media(min-width: 1024px) {}



































/* zona de areas  */

.area_container {
    background: #ffffff;
}



.area_section_span {
    background-color: #ebf5ff;
    color: #253B63;
    font-family: Poppins;
    text-align: center;
}

.area_section_title {
    font-family: Poppins;
    text-align: left;
    color: #0E2A46;

}

.area_section_slide {
    max-width: 1400px;
    margin: 0 auto;
}

.area_section_card_v1 {
    background: #fffaef;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.area_section_card_v2 {
    background: #ebf5ff;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.area_section_card_img {}

.area_section_card_title {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    color: #0E2A46;
}


@media(max-width: 1024px) {

    .area_section {
        padding: 4rem 0rem;
        margin: 0 auto;
        max-width: 1800px;
    }

    .area_section_title {
        font-size: 20px;
        font-weight: 500;
        padding: 2rem;
    }

    #area_vector_web {
        display: none;
    }

    .area_section_card_v1 {
        width: 170px;
        height: 55px;
        padding-left: 1.5rem;
    }

    .area_section_card_v2 {
        width: 170px;
        height: 55px;
        padding-left: 1.5rem;
    }

    .area_section_card_title {
        font-size: 12px;
        font-weight: 500;
    }

    .area_section_card_img {
        max-width: 30px;
    }

    .area_section_card_img img {
        width: 100%;
    }

    .area_section_slide {
        padding: 0 1rem;
    }

    .area_section_slide .slick-prev {
        display: none !important;
    }

    .area_section_slide .slick-next {
        display: none !important;
    }

    .area_section_span {
        width: 71px;
        height: 28px;
        font-size: 13px;
        font-weight: 400;
        line-height: 32px;
        margin-left: 2rem;
    }



}

@media(min-width: 1024px) {

    .area_section {
        padding: 4rem 2rem;
        margin: 0 auto;
        max-width: 1800px;
    }


    .area_section_title {
        font-size: 48px;
        font-weight: 500;
        padding: 2rem 0px;
    }

    #area_vector_movil {
        display: none;
    }

    .area_section_card_v1 {
        width: 424px;
        height: 130px;
        padding-left: 2rem;
    }

    .area_section_card_v2 {
        width: 424px;
        height: 130px;
        padding-left: 2rem;
    }

    .area_section_card_title {
        font-size: 28px;
        font-weight: 500;
    }

    .area_section_slide ul.slick-dots {
        display: none !important;
    }

    .area_section_span {
        width: 163px;
        height: 44px;
        padding: 6px;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
    }

}













































/* programas */


.programs_section {
    background: #fafafc;
}

/* .programs_section_container {
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 1800px;
} */

.programs_section_title {
    color: #0E2A46;
    font-family: Poppins;
    text-align: center;
}


/* .slider-programas-contenedor {
    margin: 0 auto;
    max-width: 1450px;
} */

.slider-programas-contenedor ul.slick-dots {
    display: none !important;
}

.slider-programas-contenedor .slick-next:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #CF9B24;
}

.slider-programas-contenedor .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #CF9B24;
}

/* .card_program {
    width: 344px;
    height: 446px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.card_program_imgcont {
    max-width: 320px;
    width: 100%;
}

.card_program_imgcont img {
    max-width: 320px;
    width: 100%;
}

/* .card_program_txtcont {
    width: 332px;
    height: 250px;
    border-radius: 40px;
    transform: translateY(-25px);
    background: #FAFAFA;
    padding: 1rem;
} */

.card_program_datos {
    display: flex;
    justify-content: space-around;
}

.card_program_datos_item {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    color: #17254E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* .card_program_txt_title {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    color: #253B63;
    height: 60px;
    padding: 0.5rem;
} */

.card_program_txt_desc {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    color: #4D4D4D;
    height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* .card_program_btn_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
} */

/* .card_program_btn {
    background: linear-gradient(90deg, #CF9B24 0%, #FFDE92 100%);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
} */




@media(max-width: 1024px) {
    .programs_section_container {
        padding: 2rem;
    }

    /* .card_program_txtcont {
        width: 332px;
        height: auto;
        padding: 0 1rem;
        border-radius: 40px;
    } */

    .card_program_txtcont {
        width: 100%;
        height: auto;
        padding: 0 1rem;
        border-radius: 40px;
    }

    .programs_section_title {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 2rem;
    }

    .card_program_datos {
        display: none;
    }

    .card_program_txt_desc {
        display: none;
    }

    .card_program_datos_movile_card {
        width: 140px;
        height: 40px;
        border-radius: 6px;
        background: #EAF4FF;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 0.5rem;
        gap: 0.5rem;
    }

    .card_program_datos_movile_card_txt {
        font-family: Poppins;
        font-size: 13px;
        font-weight: 400;
        line-height: 15.23px;
        text-align: left;
        color: #0E2A46;
    }

    .card_program_datos_movile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card_program_btn_cont {
        padding: 1rem 0;
        width: 100%;
    }

    .card_program_btn {
        background: #fffaef;
        border: 1px dashed #CF9B24;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        width: 100%;
    }

    .card_program_imgcont img {
        border-radius: 14px;
    }

    .card_program {
        width: 100%;
        height: auto;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background: #FFFFFF;
        border: 1px solid #132C4A0F;
    }

    .card_program_txt_title {
        font-family: 'Poppins', sans-serif;
        /* Asegúrate de cargar esta fuente */
        font-size: 12px;
        font-weight: 600;
        color: #253B63;
        width: 100%;
        height: 50px;
        line-height: 20px;
        padding: 0.5rem;
        margin: 0.5rem 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
    }

    .slider-programas-contenedor {
        width: 100%;
    }

    .my_slider_programs {
        width: 100%;
        margin: 0 auto;
    }


}

@media(min-width: 1024px) {
    .programs_section_container {
        padding: 4rem 2rem;
        margin: 0 auto;
        max-width: 1800px;
    }

    .card_program_txtcont {
        width: 332px;
        height: 250px;
        transform: translateY(-25px);
        padding: 1rem;
    }

    .programs_section_title {
        font-size: 52px;
        font-weight: 500;
        padding-bottom: 4rem;
    }

    .card_program_datos_movile {
        display: none;
    }

    .card_program_btn_cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
    }

    .card_program_btn {
        background: linear-gradient(90deg, #CF9B24 0%, #FFDE92 100%);
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        border: none;
    }

    .card_program_imgcont img {
        border-radius: 14px 14px 0 0;
        height: 180px;
    }

    .card_program_txtcont {
        border-radius: 40px;
        background: #FAFAFA;
        padding: 1rem;
    }

    .card_program {
        width: 100%;
        max-width: 320px;
        height: 446px;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card_program_txt_title {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        color: #253B63;
        height: 56px;
        padding: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .slider-programas-contenedor {
        margin: 0 auto;
        max-width: 1450px;
    }

}






































/* empresas */

.empresas_section {}

/* .empresas_section_container {
    display: flex;
    align-items: center;
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 1800px;
    justify-content: space-between;
} */




.empresas_section_title {
    font-family: Poppins;
    text-align: left;
}




.empresas_section_imgs_slide ul.slick-dots {
    display: none !important;
}

.card_image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .card_image_container {
    width: 165px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
} */

.card_image_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card_image_container img {
    width: 100%;
}



@media(max-width: 1024px) {
    .empresas_section_container {
        display: flex;
        padding: 2rem 0;
        flex-direction: column;
        gap: 1rem;
    }

    .empresas_section_title {
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
        padding: 0 2rem;
    }

    .empresas_section_imgs_slide {
        margin: 0 auto;
        max-width: 300px;
        background-image: url('../images/index/Subtract.png');
        background-size: cover;
        /* Ajusta la imagen para cubrir todo el área */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        background-position: center center;
        /* Centra la imagen en la pantalla */
    }

    .empresas_section_imgs_slide .slick-slider {
        margin: 1.5rem 2rem !important;
    }

    .card_image_container {
        width: 95px;
        height: 65px;
    }

    .card_image {
        width: 100%;
        height: 65px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .empresas_section_vector {
        width: 99px;
        transform: translate(0px, -5px);
        position: absolute;
    }

}

@media(min-width: 1024px) {
    .empresas_section_container {
        display: flex;
        align-items: center;
        padding: 4rem 2rem;
        margin: 0 auto;
        max-width: 1800px;
        justify-content: space-between;
    }

    .empresas_section_title {
        font-size: 52px;
        font-weight: 500;
        line-height: 100px;
    }

    .empresas_section_imgs_slide {
        margin: 0 auto;
        max-width: 700px;
    }

    .card_image_container {
        width: 165px;
        height: 75px;
    }

    .empresas_section_vector {
        transform: translate(50px, -10px);
        position: absolute;
    }

    .empresas_section_imgs_slide .slick-slider {
        margin-bottom: 0px;
    }

    .my-slider-empresas {

        background-image: url('../images/index/flame.png');
        background-size: cover;
        /* Ajusta la imagen para cubrir todo el área */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        background-position: center center;
        /* Centra la imagen en la pantalla */
        background: #fdfaf3;
        padding: 2rem;
        border-radius: 15px;
    }


}














































/* masterclass */


.masterclass_section {}

/* .masterclass_section_container {
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 1800px;
} */

.masterclass_section_title {
    font-family: Poppins;
    text-align: center;
    color: #0E2A46;
}

.masterclass_section_button {
    text-align: end;
    padding: 2rem 0;
}

.masterclass_section_button_item {
    background: #D48A15;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
}

/* .masterclass_section_main_cards {
    width: 1500px;
    max-width: 1500px;
    margin: 0 auto;
} */

.masterclass_section_main_cards ul.slick-dots {
    display: none !important;
}


/* .masterclass_card {
    border: 1px solid #F1F1F1;
    padding: 1rem;
    width: 750px;
    display: flex;
    flex-direction: row;
    align-items: center;
} */

/* .masterclass_card_img_content {
    max-width: 340px;
    height: 100%;
} */

/* .masterclass_card_img_content img {
    border-radius: 10px;
    width: 100%;
} */

/* .masterclass_card_information {
    padding: 0 1rem;
} */

.masterclass_card_inf_title {
    color: #080808;
    font-family: Poppins;
    /* white-space: nowrap; */
    overflow: hidden;
    /* Oculta el texto que se sale del contenedor */
    text-overflow: ellipsis;
    display: -webkit-box;
    /* Necesario para line-clamp */
    -webkit-line-clamp: 2;
    /* Limita a 2 líneas */
    -webkit-box-orient: vertical;
    /* Define la orientación vertical */
}



.masterclass_card_subcont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.masterclass_card_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* .masterclass_card_teacher {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
} */

.master_teacher_content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.master_teacher_imgcont {}

.master_teacher_txtinfo {}

.master_teacher_name {
    color: #3E3232;
    font-family: Poppins;
}

.master_teacher_cargo {
    font-family: Poppins;
    color: #3E3232BF;
}

.master_teacher_content2 {}

.master_teacher_content2_btn {
    border-radius: 10px;
    background-color: #0E2A46;
    border: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}





@media(max-width: 1024px) {

    .masterclass_card_container_item {
        padding: 0 0.5rem;
    }

    .masterclass_card {
        width: 100%;
        height: 135px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 4px 10px 0px #00000014;
    }

    .masterclass_card_img_content {
        width: 115px;
        height: 100%;
        overflow: hidden;
        /* Recorta el contenido excedente */
        position: relative;
        /* Contexto para el contenido */
    }

    .masterclass_card_img_content img {
        width: 100%;
        /* Ocupar todo el ancho */
        height: 100%;
        /* Ocupar todo el alto */
        object-fit: cover;
        /* Ajusta la imagen sin distorsionarla */
    }

    .masterclass_card_information {
        padding: 0.8rem;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        gap: 0rem;
    }

    #masterclass_card_item_online {
        display: none;
    }

    .masterclass_card_item {
        gap: 0.5rem;
        font-family: Poppins;
        font-size: 10px;
        font-weight: 500;
    }

    .master_teacher_name {
        font-size: 10px;
        font-weight: 500;
    }

    .master_teacher_cargo {
        font-size: 8px;
        font-weight: 400;
    }

    .master_teacher_content2_btn {
        width: 62px;
        height: 21px;
        font-size: 9px;
        font-weight: 500;
        line-height: 20px;
    }

    .masterclass_card_teacher {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .master_teacher_content1 {
        gap: 0.5rem;
    }

    .masterclass_card_subcont {
        padding: 0.5rem 0;
        width: 100%;
    }


    .masterclass_card_inf_title {
        font-size: 12px;
        font-weight: 500;
        width: 100%;
    }

    .master_teacher_imgcont {
        width: 25px;
        height: auto;
    }

    .master_teacher_imgcont img {
        width: 100%;
        height: auto;
    }

    .masterclass_card_img_content img {
        border-radius: 10px 0px 0px 10px;
        width: 100%;
    }

    .masterclass_section_title {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 2rem;
    }

    .masterclass_section_button {
        display: none;
    }

    .masterclass_section_main_btn_movil {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .masterclass_section_main_btn_movil button {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        max-width: 191px;
        height: 25px;
        background: #fffaef;
        border: 1px dashed #CF9B24;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .masterclass_section_title_vector {
        position: absolute;
        transform: translate(-250px, 26px);
        width: 120px;
    }


    .masterclass_section_container {
        padding: 2rem 1.5rem;
        margin: 0 auto;
    }

    .my-slider-masterclass .slick-prev {

        left: -20px;

    }

    .my-slider-masterclass .slick-next {

        right: -20px;

    }

}

@media(min-width: 1024px) {
    .masterclass_card {
        border: 1px solid #F1F1F1;
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .master_teacher_imgcont {
        width: 50px;
        height: auto;
    }

    .master_teacher_imgcont img {
        width: 100%;
        height: auto;
    }


    .masterclass_card_img_content {
        max-width: 340px;
        height: 100%;
    }

    .masterclass_card_information {
        padding: 0 1rem;
    }


    .masterclass_card_item {
        gap: 0.5rem;
        font-family: Poppins;
        font-size: 13px;
        font-weight: 500;
    }

    .master_teacher_name {
        font-size: 14px;
        font-weight: 500;
    }

    .master_teacher_cargo {
        font-size: 12px;
        font-weight: 400;
    }

    .master_teacher_content2_btn {
        width: 120px;
        height: 40px;
    }

    .masterclass_card_teacher {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .master_teacher_content1 {
        gap: 1rem;
    }

    .masterclass_card_subcont {
        padding: 1rem 0;
    }

    .masterclass_card_inf_title {
        font-size: 16px;
        font-weight: 500;
        width: 360px;
    }

    .masterclass_card_img_content img {
        border-radius: 10px;
        width: 100%;
        height: 163px;
        object-fit: cover;
    }

    .masterclass_section_title {
        font-size: 52px;
        font-weight: 500;
    }

    .masterclass_section_main_btn_movil {
        display: none;
    }

    .masterclass_section_title_vector {
        position: absolute;
        transform: translate(-565px, 65px);
    }

    .masterclass_section_main_cards {
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
    }

    .masterclass_section_container {
        padding: 4rem 2rem;
        margin: 0 auto;
        max-width: 1800px;
    }

}




























































/* testimonio */

.testimonios_zone {
    background: #ECECEC;
}

.testimonios_zone_container {
    margin: 0 auto;
    max-width: 1800px;
}

.testimonios_zone_title {
    font-family: Poppins;
    color: #0E2A46;
    font-weight: 500;
}

/* .testimonios_zone_slide {
    margin: 0 auto;
    max-width: 1300px;
    padding-bottom: 4rem;
} */

.card_testimonio {
    border-radius: 30px;
    background: #FFFFFF;
    padding: 1.5rem 1.5rem;
}


.card_testimonio_img {
    max-width: 370px;
}

.card_testimonio_img img {
    width: 100%;
}

.card_testimonio_personal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0
}

.card_testimonio_personal_img {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card_testimonio_personal_txtinfo {}

.card_testimonio_personal_txtinfo_title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #000000;

}

.card_testimonio_personal_txtinfo_subtxt {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #000000;
}

@media(max-width: 1024px) {
    .testimonios_zone_title {
        font-size: 20px;
        text-align: center;
        padding: 2rem;
    }

    .testimonios_zone_title img {
        display: none;
    }

    /* .my-slider-alumnos {
        padding: 0 2rem;
    } */

    .card_testimonio {
        width: 100%;
        height: 507px;
    }

    .testimonios_zone_slide {
        width: 100%;
        padding-bottom: 4rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

@media(min-width: 1024px) {
    .testimonios_zone_title {
        font-size: 52px;
        text-align: left;
        padding: 2rem 0rem 4rem 0rem;
    }

    .card_testimonio {
        width: 100%;
        max-width: 380px;
        height: 507px;
    }

    .testimonios_zone_slide {
        margin: 0 auto;
        max-width: 1300px;
        padding-bottom: 4rem;
    }
}


































/* slider
 */
.my-slider-alumnos {
    background: #ECECEC;
}

.testimonios_zone_slide .slick-prev:before {
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: #CF9B24;

}

.testimonios_zone_slide .slick-slider {
    margin-bottom: 0px;
}

.testimonios_zone_slide .slick-next:before {
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: #CF9B24;
}

/* .testimonios_zone_slide .slick-prev {
    left: -50px;
} */


.testimonios_zone_slide .slick-dots li button:before {
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #CFD3D6;
}

.testimonios_zone_slide .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #FFC27A
}

/* slider fin
 
 */
.card_testimonio_personal_comilla img {}

.card_testimonio_personal_comilla img {
    transform: translate(-30px, 0px);
}

.card_testimonio_txt {}


@media(max-width: 1024px) {
    .testimonios_zone_slide .slick-prev {
        left: -35px;
    }

    .card_testimonio_personal_comilla {
        display: none;
    }
}

@media(min-width: 1024px) {
    .testimonios_zone_slide .slick-prev {
        left: -50px;
    }

    .slider-testimonio-container {
        padding: 0 2rem;
    }
}

































/* contacto  */

.contact_zone {
    background: #FFFFFF;
}

.contact_zone_container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 5rem 0;
}

/* .contact_zone_img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
} */

.contact_zone_ingcontainer {}

.contact_zone_txtdireccion {}

.contact_zone_txtdireccion_txt {
    font-family: Poppins;
    text-align: left;
    color: #0E2A46;
}

.contact_zone_btndireccion {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 400;
    text-align: left;
    background: #CF9B24;
    border-radius: 200px;
    color: #FFFFFF;
    width: 372px;
    height: 78px;
    padding: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
}



.contact_zone_card_form {
    border-radius: 20px;
    background: #253B63;
}


.contact_zone_card_form_title {
    text-align: center;
    font-family: Poppins;
    color: #FFFFFF;
}

.contact_zone_card_form_subtitle {
    font-family: Poppins;
    color: #FFFFFF;
}

/* .contact_zone_card_form_input {
    display: flex;
} */

.contact_zone_card_form_input input {
    height: 60px;
    color: #FFFFFF;
    background: #4e5e7d;
    border: none;
}


.contact_zone_card_form_input button {
    border: none;
    color: #FFFFFF;
    background: #CF9B24;
}


@media(max-width: 1024px) {
    .contact_zone_card_form_title {
        width: 100%;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }

    .contact_zone_card_form_subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: justify;
        width: 100%;
    }

    .contact_zone_card_form_input {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
    }

    .contact_zone_card_form_input button {
        width: 100%;
        height: 60px;
        border-radius: 10px;
    }

    .contact_zone_card_form_input input {
        width: 100%;
        height: 60px;
        border-radius: 10px;
        padding: 0 1.5rem;
    }

    .contact_zone_card_form {
        width: 100%;
        height: 420px;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 3rem 1rem;
    }

    .contact_zone_img {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .contact_zone_ingcontainer {
        padding: 0 2rem;
    }

    .contact_zone_ingcontainer img {
        width: 100%;
    }

    .contact_zone_txtdireccion_txt {
        font-size: 27px;
        font-weight: 600;
        line-height: 40px;
        padding-bottom: 3rem;
    }

    .imgcircle {
        display: none;
    }

    .contact_zone_txtdireccion {
        padding: 0 2rem;
    }


}

@media(min-width: 1024px) {
    .contact_zone_card_form_title {
        width: 100%;
        max-width: 905px;
        font-size: 45px;
        font-weight: 500;
        line-height: 55px;
    }

    .contact_zone_card_form_subtitle {
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        width: 500px;
        max-width: 500px;
    }

    .contact_zone_card_form_input {
        display: flex;
    }

    .contact_zone_card_form_input button {
        width: 142px;
        height: 60px;
        border-radius: 0px 10px 10px 0px;
    }

    .contact_zone_card_form_input input {
        width: 367px;
        height: 60px;
        border-radius: 10px 0px 0px 10px;
        padding: 0 1.5rem;
    }

    .contact_zone_card_form {
        max-width: 1280px;
        width: 100%;
        height: 420px;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 7rem;
    }

    .contact_zone_img {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
    }

    .contact_zone_txtdireccion_txt {
        font-size: 52px;
        font-weight: 500;
        line-height: 62.4px;
        padding-bottom: 3rem;
    }

}

























































































/* zona de logros  */
.logros_zone {}

/* .logros_zone_container {
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.logros_zone_letras {}

.logros_zone_letras_title {
    font-family: Poppins;
    color: #0E2A46;
}

/* .logros_zone_letras_txt {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #6D737A;
    width: 100%;
    max-width: 653px;
    padding: 4rem 0;
} */

.logros_zone_letras_txt {
    font-family: Poppins;
    color: #6D737A;
    width: 100%;
}

/* .logros_zone_letras_cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
} */

/* .logros_zone_letras_item {
    display: flex;
    justify-content: space-between;

} */

/* .logros_zone_letras_item_unitario {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 400px;
} */

.logros_zone_letras_logo {}

.logros_zone_letras_txts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .logros_zone_letras_item_numero {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: #000000;
} */

.logros_zone_letras_item_numero {
    font-family: Poppins;
    color: #000000;
}


/* .logros_zone_letras_item_subtext {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #6D737A;
} */
.logros_zone_letras_item_subtext {
    font-family: Poppins;
    color: #6D737A;
}


.logros_zone_imgs {
    padding: 4rem 0;
}

.logros_zone_img img {
    width: 100%;
}


.logros_zone_img_movil_container {
    padding: 0 2rem;
}

.logros_zone_img_movil_title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 2rem 0;
}

.card-country-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-country {
    width: 100%;
    /* Ancho flexible */
    max-width: 300px;
    /* Define un ancho máximo para el contenedor */
    height: 360px;
    /* Altura fija del contenedor */
    overflow: hidden;
    /* Oculta cualquier contenido que sobresalga */
    position: relative;
    /* Establece el contexto del contenedor */
    background-color: #f0f0f0;
    /* Opcional: Fondo para mostrar si la imagen no llena el espacio */
}

.card-country img {
    width: 100%;
    /* Escala la imagen al ancho del contenedor */
    height: 100%;
    /* Escala la imagen al alto del contenedor */
    object-fit: contain;
    /* Ajusta la imagen dentro del contenedor sin recortarla */
    object-position: center;
    /* Centra la imagen en el contenedor */
    display: block;
    /* Elimina espacios en blanco extra de las imágenes */
}

@media(max-width: 1024px) {

    .logros_zone_container {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
    }

    .logros_zone_imgs {
        display: none;
    }

    .logros_zone_letras_item {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .logros_zone_letras_cards {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 1rem;
        padding: 0 3rem;
    }

    .logros_zone_letras_item_unitario {
        display: flex;
        max-width: 350px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
    }

    .logros_zone_letras_item_numero {
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }

    .logros_zone_letras_item_subtext {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }

    .logros_zone_letras_title {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    .logros_zone_letras_txt {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        text-align: justify;
        padding: 2rem 0;
    }

    .vector_nuestroslogros {
        width: 60px;
        position: absolute;
        transform: translate(-75px, 30px);
    }

    .logros_zone_letras_txt {
        padding: 2rem;
    }

    .logros_zone_img {
        display: none;
    }

}

@media(min-width: 1024px) {
    .logros_zone_container {
        padding: 4rem 2rem;
        margin: 0 auto;
        max-width: 1800px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logros_zone_letras_item {
        display: flex;
        justify-content: space-between;

    }

    .logros_zone_letras_cards {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .logros_zone_letras_item_unitario {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        width: 400px;
    }

    .logros_zone_letras_item_numero {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
    }

    .logros_zone_letras_item_subtext {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }

    .logros_zone_letras_title {
        font-size: 52px;
        font-weight: 500;
        text-align: left;
    }

    .logros_zone_letras_txt {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        max-width: 653px;
        padding: 4rem 0;
    }

    .vector_nuestroslogros {
        position: absolute;
        transform: translate(-195px, 65px);
    }

    .logros_zone_img_movil {
        display: none;
    }

}