@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.program_portada {
    height: 365px;
    background-image: url('../images/program-index/header-programs.png');
    background-size: cover;
    /* Ajusta la imagen para cubrir todo el área */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center center;
    /* Centra la imagen en la pantalla */
}

.program_portada_txt {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    line-height: 66px;
    text-align: center;
}



/* lista de cards */

.card_program {
    width: 344px;
    height: 446px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_program_imgcont {
    max-width: 344px;
    height: 190px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.card_program_imgcont img {
    border-radius: 14px 14px 0 0;
}

.card_program_imgcont img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card_program_txtcont {
    width: 332px;
    height: 250px;
    border-radius: 40px;
    transform: translateY(-25px);
    background: #FAFAFA;
    padding: 1rem;
}

.card_program_datos {
    display: flex;
    justify-content: space-around;
}

.card_program_datos_item {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    color: #17254E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.card_program_txt_title {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    color: #253B63;
    height: 60px;
    padding: 0.5rem;
}

.card_program_txt_desc {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    color: #4D4D4D;
    height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card_program_btn_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.card_program_btn {
    background: #0E2A46;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    border: none;
    max-width: 380px;
    width: 100%;
}


/* search programs */
/* .search_programs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    padding: 4rem 0;
} */






/* .programs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    justify-items: center;
} */

.program-item {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: center;
    background-color: #f9f9f9;
}

.program-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.pagination a.current.disabled {
    pointer-events: none;
    color: #ccc;
    /* Cambiar el color para hacerlo parecer deshabilitado */
    text-decoration: none;
}



.allprograms_cards {
    padding-bottom: 3rem;
}

.allprograms_cards_container {}

.subcontainer_allcards {}

.btn_search {
    border-radius: 6px;
    background: #CF9B24;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border: none;
    height: 56px;
    padding: 0 1.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.input_search {

    height: 56px;
    width: 300px;
    padding: 16px 18px;
    border-radius: 5px;
    border: none;
}


.subcontainer_allcards .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subcontainer_allcards .pagination a {
    padding: 0.5rem 1rem;
    background: #f4f4f4;
    border: 1px solid #ECECEC;
    text-decoration: none;
    color: #0E2A46;
}




@media(min-width: 1024px) {
    .search_programs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        padding: 4rem 0;
    }

    .programs-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        justify-items: center;
    }

}

@media(max-width: 1024px) {
    .search_programs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 2rem 0;
    }

    .programs-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        justify-items: center;
    }

}



















































.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.pagination a {
    padding: 8px 12px;
    text-decoration: none;
    color: #0073aa;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.pagination a:hover {
    background-color: #f1f1f1;
}

.pagination a.current.disabled {
    pointer-events: none;
    background-color: #0073aa;
    color: white;
    border-color: #0073aa;
}

.pagination .dots {
    padding: 8px 12px;
    color: #555;
}



@media(min-width: 1024px) {
    .program_portada_movil {
        display: none;
    }

}

@media(max-width: 1024px) {
    .program_portada {
        display: none;
    }

    .program_portada_movil {
        height: 100px;
        background: #ECECEC;
        width: 100%;
    }

    .program_portada_movil_title {
        height: 100px;
        background: #ECECEC;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;

    }
}