@media screen and (max-width:1200px) {
    .about-img img {
        /* height: 100%;
        width: auto; */
    }

    .mission-vision-container {
        width: 80%;
    }
}




@media screen and (max-width:900px) {

    /* ABOUT SECTION */

    #about {
        padding-bottom: 0;
    }

    .about-container {
        flex-direction: column;
        position: static;
    }

    .about-img{
        width: 70%;
    }
    
    .about-details-container {
        width: 80%;
    }


    /* MISSION-VISION SECTION */

    .mission-vision-container {
        width: 90%;
        position: static;
        bottom: 0;
    }

    .mission-vision-card {
        flex-direction: column;
    }

    .mission-vision-card-img img {
        width: 100px;
    }

    .mission-vision-card-details {
        width: 80%;
        padding: 0 1rem;
    }


    /* PILLARS SECTION */

    .pillars-container {
        padding: 2rem 0;
    }

    .pillars-details {
        flex-direction: column;
    }

    .pillars-card-img img {
        width: 100px;
        height: auto;
    }

    .pillars-card-text{
        width: 80%;
        margin: auto;

    }

    .services-container {
        flex-direction: column;
    }

    .services-card-img {
        width: fit-content;
    }

    .services-card-img img {
        width: 300px;
    }

    /* .teachers-container {
        flex-wrap: wrap;
    }

    .teachers-details-1 {
        width: 100%;
    }

    .teachers-title img {
        width: 80%;
        margin: auto;
    }

    .teachers-img-1 {
        flex-direction: column;
    }

    .teachers-img-1 img {
        width: 80%;
        height: auto;
    }

    .teachers-details-2 {
        width: 100%;
    } */


    /* PARTNERS */
    .partners-img {
        gap: 1rem;
    }

    .partners-img img {
        height: 30px;
    }
}